@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Arial', sans-serif;
  background-image: url("https://img.freepik.com/premium-photo/shot-woman-donating-money-charity-created-with-generative-ai_762026-85729.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
}





